<section id="links-section" class="doc-section">
    <h2 class="section-title">Mail Service</h2>
    <div class="section-block">
     <h2>Useful links</h2>
        <a href="https://symfony.com/doc/current/setup.html">Symfony</a>, 
        <a href="https://swiftmailer.symfony.com/docs/introduction.html">SwiftMailer</a>

    </div>
</section>