<section id="installation-section" class="doc-section">
    <h2 class="section-title">Usage</h2>
    <div id="step1" class="section-block">
        <h3 class="block-title">Step One</h3>
        <p>
        </p>
        <div class="code-block">
            <h6>Installation code:</h6>
            <p><code>composer require symfony/swiftmailer-bundle</code></p>
        </div>
        <!--//code-block-->
    </div>
    <!--//section-block-->
    <div id="step2" class="section-block">
        <h3 class="block-title">Step Two</h3>
        <p>
        </p>
        <div class="row">
            <div class="col-md-6 col-12">
               
                <h6></h6>
                <ul class="list">
                    <li>route: https://mail-service.devrise.rs/email/send</li>
                    <li>method: <b>POST</b></li>
                    <li>schema: <b>https</b></li>
                    <li>payload:
                        <ul>
                            <li><b>name</b> - Sender full name</li>
                            <li><b>email</b> - Sender email address</li>
                            <li><b>subject</b> - Email subject</li>
                            <li><b>sendTo</b> - Receiver email address</li>
                            <li><b>sendfrom</b> - Sender email address</li> 
                            <li><b>message</b> - Body message</li>
                        </ul>
                    </li>
                </ul>
            </div>
            
        </div>
        <!--//row-->
    </div>
    <!--//section-block-->

    <!--//section-block-->
</section>
<!--//doc-section-->