<section id="download-section" class="doc-section">
    <h2 class="section-title">Mail Service</h2>
    <div class="section-block">
        <p>Mail service is small Symfony application / service  which uses <b>swift mailer</b> bundlecc  cghvghvhghg for sending mails.
        </p>
        <a href="https://mail-service.devrise.rs/email/send"
            class="btn btn-green" target="_blank"><i class="fas fa-download"></i> SwiftMailer</a>
    </div>
</section>
<!--//doc-section-->